body{
    background-color: rgb(242, 240, 240);
}
#signup-form{
    width: 70%;
    /* border: 1px solid black; */
    margin: auto;
    margin-top: 50px;
}
#signup-form>form{
    width: 80%;
    /* border:1px solid black; */
    margin: 0 auto;
    box-sizing: border-box;
    padding: 20px;
}
#signup-form>form>label{
   font-size: 20px;
   color:rgb(97, 96, 96);
}

/* #signup-form>form>label:nth-child(3){
    margin-left: 300px;
}
#signup-form>form>label:nth-child(13)
{
    margin-left: 130px;
} */
#signup-form>form>input{
    width: 30%;
    box-sizing: border-box;
    margin-bottom: 16px;
    margin-top: 5px;
    padding: 8px;
    border-radius: 4px;
    font-style: italic;
}
/* #signup-form>form>input:nth-child(6)
{
    margin-left: 150px;
}
#signup-form>form>input:nth-child(16)
{
    margin-left: 150px;
} */
#signup-form>form>input[type="submit"]
{
    border-radius: 30px;
    background-color: #414887;
    color: white;
    font-size: 18px;
    font-weight: bold;
    box-sizing: border-box;
    padding: 10px;
    border-color: #393f77;
}
#signup-form>form>input[type="submit"]:hover{
    background-color: #393f77;
    color: white;
    cursor: pointer;
}