



.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:white;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  overflow-x: hidden;
 border-top-right-radius: 5px;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 10px ;
  text-decoration: none;
  font-size: 18px;
  color: #000000;
  display: block;
  transition: 0.5s;
  margin-left: 10px;
}
.sidebar a:hover{
  background-color: antiquewhite;
  color: rgb(11, 143, 225);
}
.sidebar h1{
  margin-bottom: 100px;
  position: absolute;
  top: 10px;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 20px;
  font-weight: bold;
  margin-left: 50px;
  border: 1px dotted black;
  border-radius: 80%;
  margin-top: 5px;
}

#Categories{
  /* font-size: 20px; */
  cursor: pointer;
  /* background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none; */
}

#Categories:hover {
  color: rgb(7, 95, 158);
}
body{
  transition: margin-left .5s;
}
.closebtn~a{

}